.header__lang-link {
  font-size: 24px;
  line-height: 1.17;
  text-align: right;
  font-weight: 400;
  color: #fff;
  margin-right: 18px;
  text-decoration: none;
}

.header__lang-link:last-child {
  margin-right: 0;
}

.header__lang-link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.11;
  }
}