.cover__link {
  width: 100%;
  height: 100%;
  margin: auto;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: contain;
  background-position: center;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 32px;
}

.cover__link::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #2A2C2F;
  opacity: 0.3;
  display: block;
  transition-property: opacity;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}

.cover__link:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 320px) {
  .cover {
    gap: 32px;
  }
}