.place__title {
  margin-block-start: 0;
  margin-block-end: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  color: #FFFFFF;
  width: 460px;
  display: block;
}

@media screen and (max-width: 1279px) {
  .place__title{
    width: 440px;
  }
}

@media screen and (max-width: 1023px) {
  .place__title {
    font-size: 42px;
    line-height: 1.1;
    min-width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .place__title {
    font-size: 32px;
    line-height: 1.09;
    width: 288px;
    margin: 0 16px;
  }
}