.cover__subtitle {
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #FFFFFF;
  width: 360px;
  margin: 0 auto;
  z-index: 2;
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 1.14;
    width: 288px;
  }
}