.header {
  padding: 28px 48px 0;
  display: flex;
  justify-content: space-between;
  max-width: 100vw;
  min-height: 52px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .header {
    
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 28px 24px 0;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding: 16px 16px 0;
  }
}