.footer__links {
  display: flex;
  gap: 18px;
  max-width: 100%;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .footer__links {
    flex-direction: column;
    gap: 32px;
  }
}