.place__paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
  color: #FFFFFF;
  padding-bottom: 26px;
}

.place__paragraph:last-child {
  padding-bottom: 0px;
}