.intro {
  max-width: 690px;
  padding: 92px 0 0 148px;
  position: relative;
}

@media screen and (max-width: 1279px) {
  .intro {
    padding: 92px 0 0 48px;
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    padding: 88px 24px 0;
    max-width: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    padding: 64px 16px 0;
  }
} 