.lead__subtitle {
  margin-block-start: 0;
  margin-block-end: 0;
  max-width: 640px;
  color: #fff;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 64px;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    padding-bottom: 56px;
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 1.25;
    padding-bottom: 40px;
    max-width: 288px;
  }
}