.place__bottom {
  display: flex;
  flex-direction: row;
  gap: 40px;
  max-width: 100%;
}

@media screen and (max-width: 1279px) {
  .place__bottom {
    gap: 32px;
  }
}

@media screen and (max-width: 1023px) {
  .place__bottom {
    gap: 28px;
  }
}

@media screen and (max-width: 767px) {
  .place__bottom {
    gap: 32px;
    flex-direction: column;
  }
}