.cover__title {
  margin-block-start: 0;
  margin-block-end: 0;
  display: block;
  width: 560px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  color: #FFFFFF;
  position: relative;
  z-index: 2;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.09;
    width: 288px;
  }
}