.footer {
  padding: 92px 0 24px;
  margin: 0 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: calc(100%-2*48px);
}

@media screen and (max-width: 1279px) {
  .footer {
    padding-top: 88px;
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    padding-top: 88px;
    max-width: calc(100%-2*24px);
    margin: 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 64px 0 24px 16px;
    flex-direction: column;
    max-width: calc(100%-16px*2);
    gap: 48px;
    margin: 0;
  }
}