.place__url-heading {
  margin-block-start: 0;
  margin-block-end: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 2px;
  color: #AAAAAA;
  text-align: left;
  display: block;
}