.place__website {
  display: flex;
  gap: 12px;
  flex-direction: column;
  width: 456px;
  justify-content: end;
  align-items: start;
}

@media screen and (max-width: 1023px) {
  .place__website {
    max-width: calc(50% - 28px / 2);
  }
}

@media screen and (max-width: 767px) {
  .place__website {
    width: 288px;
    margin: 0 16px;
  }
}