.place__top {
  display: flex;
  flex-direction: row;
  padding-bottom: 48px;
  gap: 40px;
}

@media screen and (max-width: 1279px) {
  .place__top{
    gap: 32px;
  }
}

@media screen and (max-width: 1023px) {
  .place__top {
    gap: 28px;
  }
}

@media screen and (max-width: 767px) {
  .place__top {
    padding-bottom: 32px;
    gap: 32px;
    flex-direction: column;
  }
}