.intro__title {
  margin-block-start: 0;
  margin-block-end: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  color: #FFFFFF;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .intro__title {
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .intro__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 1.09;
  }
}